What is the digit after the **right most** 'w' character from the "Input" string below?
Input: {{ input }}

Choose from these two options:
A. 0
B. 1

Put the answer option character (i.e., only A or B) between <answer> and </answer> tags.