Print the last character from the "Input" sequence below. It can only be '0' or '1'.

-------------------------------
Input sequence: {{ input }}
-------------------------------

The last character of the Input sequence is 