Task: Mask the digit after the **right most** 'write' instruction with <masked_digit> tag in the "Input" string below.
Input: {{ input }}

Do this task yourself. Print the masked sequence. Put the masked sequence between <sequence_start> and <sequence_end> tags.