Paragraph:
-------------------------------
<start> {{ input }} <end>
-------------------------------

Repeat the paragraph above exactly as it is, without any changes. Use the tag <end> to mark the end of the response.

<start> 