Task: Mask the digit after the **right most** 'w' character from the "Input" string below.
Input: {{ input }}

Do this task yourself. Print the output sequence with the digit masked with <masked-flipflop> tag.
