What is the first character from the "Input" string below?

-------------------------------
Input: {{ input }}
-------------------------------

Do this task yourself. Put only the output character between <ans> and </ans> tags. Use the phrase "THE_END" to mark the end of the response.