What is the digit after the **right most** 'write' instruction from the "Input" string below?
Input: {{ input }}

Choose from these two options:
A. 0
B. 1

The answer option (from A or B) corresponding to the digit after the **right most** 'w' character is: 