Print the first character from the "Input" sequence below.

-------------------------------
Input sequence: <s>{{ input }}</s>
-------------------------------

The first character of the Input sequence is 