Print the starting character from the "Input" sequence below. It can only be 'r', 'w' or 'i'.

-------------------------------
Input sequence: {{ input }}
-------------------------------

The Input sequence starts with character 