What is the digit after the **right most** 'write' instruction from the "Input" string below?
Input: {{ input }}

Choose from these two options:
A. 0
B. 1

Put only the answer letter between <answer> and </answer> tags.