Task: Print the digit (i.e., 0 or 1) after the last 'w' character from the "Input" string below. 
For the solution, follow these steps:  
1. Traverse the string character by character from right to left, from the last character to the first. 
2. Once a ‘w’ character is encountered, output the digit immediately to the left of it, i.e. 0 or 1.
Input: 
=================
{{ input_string }}
=================
Put only the output digit between <answer> and </answer> tags.