Task: Print the digit (i.e., 0 or 1) after the 'w' character from the "Input" string below. 
For the solution, follow these steps:
1. Traverse the string character by character from left to right, from the first character to the last. 
2. Record the position of each character. 
3. When you encounter the character ‘w’, move to the next position. 
4. Print the digit, i.e. 0 or 1, at that position.
Input: 
=================
{{ input_string }}
=================
Put only the output digit between <answer> and </answer> tags.