Task: Print the digit (i.e., 0 or 1) after the 'w' character from the "Input" string below. 
For the solution, follow these steps:  
1. Traverse the string character by character from left to right, from the first character to the last. 
2. Keep track and memorize only the digit, i.e. 0 or 1, after the most recent ‘w’ you encountered. 
3. When you encounter the last ‘r’ character at the end of the string, print the memorized digit.
Input: 
=================
{{ input_string }}
=================
Put only the output digit between <answer> and </answer> tags.