Task: Print the digit (i.e., 0 or 1) after the **right most** 'w' character from the "Input" string below. 
For the solution, follow these steps:  
1. Traverse the string character by character from right to left, from the last character to the first. 
2. Record the position of each traversed character. 
3. Once a ‘w’ character is encountered, output the  digit, i.e. 0 or 1, at the next position.
Input: 
=================
{{ input_string }}
=================
Put only the output digit between <answer> and </answer> tags.