Please repeat the following string in the reverse order, from the last character to the first character, without any changes.

String:
-------------------------------
{{ input }}
-------------------------------

Put the repeated string between <str> and </str> tags. Use the phrase "THE_END" to mark the end of the response.