Task: Print the most occurring digit (i.e., 0 or 1) from the `Input` string below. In case of an equal number of occurrences, print "1".

Input: {{ input }}

Do this task yourself. Put the output digit (i.e., 0 or 1) between <ans> and </ans> tags. Use the phrase "THE_END" to mark the end of the response.