Task: Print the first letter from the "Input" string below. It can be a letter or a number.

-------------------------------
Input: {{ input }}
-------------------------------

Do this task yourself. Solve this task step-by-step. Put only the output character between <ans> and </ans> tags. Use the phrase "THE_END" to mark the end of the response.