Paragraph:
<start> Once upon a time in a land far away. <end>
Echo:
<start> Once upon a time in a land far away. <end>

Paragraph:
<start> The quick brown fox jumps over the lazy dog. <end>
Echo:
<start> The quick brown fox jumps over the lazy dog. <end>

Paragraph:
<start> {{input}} <end>
Echo:
<start> 